@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Ubuntu", sans-serif;
}
@layer components {
  .infoText {
    @apply p-4 bg-[#F0F2F4] rounded-lg;
  }
}

.customGd:hover {
  background: linear-gradient(to right, #fcc5c3, #fcf8d4);
}
.customBg {
  background: linear-gradient(to right, #fcc5c3, #fcf8d4);
}
